<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initiak-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-shop - wishlist | e-commerce website</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/0026fec354.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">`
        <div class="navbar">
            <div class="logo">
                <img src="/assets/logo.png" width="125px">
            </div>
            <nav>
                <ul id="menu-item">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/Component/Products/product.html">Products</a></li>
                    <li><a href="#about-contact-details">About</a></li>
                    <li><a href="#about-contact-details">Contact</a></li>
                    <li><a href="/Component/Account/account.html">Account</a></li>
                </ul>
            </nav>
            <a href="/Component/Cart/cart.html" class="cart">
                <i class="fa-solid fa-bag-shopping">
                    <small class="cart-item-list">3</small>
                </i>
            </a>
            <a href="/Component/Wishlist/wishlist.html" class="wishlist">
                <i class="fa-regular fa-heart">
                    <small class="item-list">1</small>
                </i>
            </a>
            <a class="menu-icon" onclick="menutoggle()">
            <i class="fa-solid fa-bars"></i></a>

        </div>
    </div>


<div class="small-container">

    <div class="wishlist-row">
        <div class="col-4">
            <a href="/Component/Product-Details/product-details.html"><img src="/assets/product-1.jpg"></a>
            <h4 class="product-info">Red Printed Tshirt</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i> 
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p>$50.00</p>
            <button class="btn-cart">Add to cart</button>
        </div>
        
    </div>
</div>

<!-- ---------------------------footer------------------------------------->

<div class="footer" id="about-contact-details">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <img src="/assets/logo-white.png">
                <p> &copy; 2021 - neog e-commerce website design</p>
            </div>
            <div class="footer-col-2">
                <h4>Social Links</h4>
                <ul class="flex-center">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter-square"></i></li>
                    <li><i class="fa-brands fa-instagram-square"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/app.js">

</script>
</body>
</html>